@{
    Layout = "_DocumentLayout";
}
<div class="col-md-8 doc-main" role="main">
    <div class="bs-docs-section">
        <h1 id="overview" class="page-header"><a class="anchorjs-link " href="#overview" aria-label="Anchor link for: overview" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>Client Credentials授权</h1>

        <h2 id="overview-relation"><a class="anchorjs-link " href="#overview-relation" aria-label="Anchor link for: overview doctype" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>简介</h2>
        <p>采用Client Credentials方式，即应用公钥、密钥方式获取Access Token，适用于任何类型应用，但通过它所获取的Access Token只能用于访问与用户无关的Open API，并且需要开发者提前向旗开得胜开放平台申请，成功对接后方能使用。其流程示意图如下：</p>
        <pre><code>
        +---------+                                  +---------------+
        |         |                                  |               |
        |         |>--(A)- Client Authentication --->|               |
        | 客户端  |                                  |   验证服务器  |
        |         |<--(B)---- Access Token ---------<|               |
        |         |                                  |               |
        +---------+                                  +---------------+
        </code></pre>

        <p>对于应用而言，其流程只有一步，即直接获取Access Token。</p>

        <h2 id="overview-pre"><a class="anchorjs-link " href="#overview-pre" aria-label="Anchor link for: overview mobile" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>获取Access Token</h2>
        <h3 id="overview-pre">请求数据包格式</h3>
        <p>使用Client Credentials获取Access Token需要应用在其服务端发送请求（推荐用POST方法）到旗开得胜OAuth2.0授权服务的“https://openapi.kehu1688.com/token”地址上，并带上以下参数：</p>
        <ul>
            <li>grant_type：必须参数，固定为“client_credentials”；</li>
            <li>client_id：必须参数，应用的API Key；</li>
            <li>client_secret：必须参数，应用的Secret Key;</li>
        </ul>
        <p>
            例如：“client_id”为“Va5yQRHlA4Fq4eR3LT0vuXV4”的应用要请求某个用户的默认权限和email访问权限，并在授权后需跳转到“http://www.example.com/oauth_redirect”，同时希望在弹出窗口中展现用户登录、授权界面，则应用需要重定向用户的浏览器到如下URL：
        </p>
        <div class="highlight">
            <pre><code>
    https://openapi.kehu1688.com/token?
    grant_type=client_credentials&
    client_id=Va5yQRHlA4Fq4eR3LT0vuXV4&
    client_secret= 0rDSjzQ20XUj5itV7WRtznPQSzr5pVw2&
           </code></pre>
        </div>

        <h3 id="overview-pre">响应数据包格式</h3>
        <p>若参数无误，服务器将返回一段JSON文本，包含以下参数：</p>
        <ul>
            <li><strong>access_token：</strong> 要获取的Access Token；</li>
            <li><strong>expires_in：</strong> Access Token的有效期，以秒为单位；</li>
            <li><strong>refresh_token：</strong> 用于刷新Access Token 的 Refresh Token,所有应用都会返回该参数；</li>
        </ul>
        <p>例如：</p>
        <div class="highlight">
            <pre><code class="language-html" data-lang="html">
    HTTP/1.1 200 OK
    Content-Type: application/json
    Cache-Control: no-store
    
    {
        "access_token": "1.a6b7dbd428f731035f771b8d15063f61.86400.1292922000-2346678-124328",
        "expires_in": 86400,
        "refresh_token": "2.385d55f8615fdfd9edb7c4b5ebdc3e39.604800.1293440400-2346678-124328"
    }
        </code></pre>
        </div>

        <p>若请求错误，服务器将返回一段JSON文本，包含以下参数：</p>
        <ul>
            <li><strong>error：</strong>错误码；关于错误码的详细信息请参考“<a asp-controller="Document" asp-action="AuthorizeError">旗开得胜OAuth2.0错误响应</a>“</li>
            <li><strong>error_description：</strong>错误描述信息，用来帮助理解和解决发生的错误。；</li>
        </ul>
        <p> 例如：</p>
        <div>
            <pre><code class="language-html" data-lang="html">
    HTTP/1.1 400 Bad Request
    Content-Type: application/json
    Cache-Control: no-store
    
    {
        "error": "invalid_grant",
        "error_description": "Invalid authorization code: ANXxSNjwQDugOnqeikRMu2bKaXCdlLxn"
    }
        </code></pre>
        </div>

        <h2 id="overview-authorize-style"><a class="anchorjs-link " href="#overview-authorize-style" aria-label="Anchor link for: overview type links" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>注意事项</h2>
        <ul>
            <li>默认情况下，Access Token的有效期为一个月（一天的Access Token + 一个月的Refresh Token）。</li>
        </ul>
    </div>
</div>

<div class="col-md-2 catalog" role="complementary">
    <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm" data-spy="affix" data-offset-top="30" data-offset-bottom="200">
        <ul class="nav bs-docs-sidenav">
            <li class="">
                <strong>目录</strong>
            </li>
            <li class="">
                <a href="#overview-relation">简介</a>
            </li>
            <li class="">
                <a href="#overview-pre">获取Access Token</a>
            </li>
            <li class="">
                <a href="#overview-authorize-style">注意事项</a>
            </li>
        </ul>
    </nav>
</div>
